<?xml version="1.0"?>

<configuration>

  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="message" type="System.Diagnostics.TextWriterTraceListener" initializeData="Messages.txt"></add>
      </listeners>
    </trace>
  </system.diagnostics>

</configuration>
