<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="MembershipConnectionString"
         connectionString="Data Source=121.197.8.31,1511;Initial Catalog=shoutao;User ID=cn1101142;Password=190!()@"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
